<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="cps-ui自动化测试" verbose="1" preserve-order="true" parallel="false">
  <test name="cps-ui自动化测试">
    <classes>
   <!--   <class name="test.ProductTest"></class>
    广告管理 -->
    	
     	<!-- <class name="test.GGGLTest"/> -->
     	<class name="test.TGTest"></class>
	    <!--   <class name="test.SXTest"></class>
	      <class name="test.PriceProgramTest"></class>
	      <class name="test.JFSCTest"></class>
	      <class name="test.ProductTest"></class> -->
    </classes>
  </test> <!-- Test -->
 	<listeners>
		<listener class-name="listeners.ExtentTestNGIReporterListener" />
		<listener class-name="listeners.ShotListener"></listener>
		<listener class-name="listeners.RetryListenerImpl"></listener>
		<listener class-name="listeners.TestListener"></listener>
	</listeners>
</suite> <!-- Suite -->
